<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Cliente</title>
</head>
<body>
  <h2>Cadastrar Cliente</h2>
  <form method="post">
    <input placeholder="Nome..." type="text" name="nome">
    <input placeholder="Sobrenome..."type="text" name="sobrenome">
    <input placeholder="Empresa..."type="text" name="empresa">
    <input type="submit" value="Enviar">
  </form>
</body>
</html>