@font-face{
    font-family: "SF PRO";
    src: url('sf2.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "SF PRO";
}

body{
    background-color:black;
}

header{
    padding:8px 2%;
    background-color: #333;
    text-align: center;
}

nav.menu ul{display: inline-block;}



.menu li {
    display: inline-block;
    color:white;
    margin:0 30px;
    font-size: 14px;
}

.menu a{
    color:white;
    text-decoration: none;
    margin:0 5px;
}

.menu a.search-icon{
    margin-right: 20px;
}

section.demo{
    text-align: center;
    padding:50px 0;
    color:white;
}

section.demo h1{
    font-size: 40px;
}
section.demo h3{
    font-size: 25px;
    margin:20px 0;
}

.links-compra a{
    color:#06c;
    font-size: 19px;
    margin:0 15px;
}

section.demo img{
    margin-top:90px;
    display: inline-block;
    max-width: 900px;
    width:100%;
}