*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	margin:0 auto;
}

.clear{
	clear: both;
}

header{
	width: 100%;
	height: 90vh;
	min-height: 800px;
	padding:40px 2%;
	/*max-height: 700px;*/
	background-size: cover;
	background-position: center;
	background-image: url('../imagens/capa.png');
	font-weight: 300;
}

header nav{
	float: right;
}

nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url(../imagens/menu.png);
	background-size: 100% 100%;
}

nav.mobile-menu ul{
	background-color: white;
	transform: 1s;
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
}

nav.mobile-menu ul li a{
	text-decoration: none;
	color: black;
	transition: 0.4s;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(230,230,230);
}

nav.mobile-menu ul li{
	padding: 8px 0;
	border-bottom: 1px solid black;
}

header .logo{
	float: left;
	width: 160px;
	height: 40px;
	background-color: #ccc;
}

header nav.desktop-menu ul{
	list-style-type: none;
}

header nav.desktop-menu li{
	float: left;
	padding:0 20px;
}

header nav.desktop-menu li a{
	text-decoration: none;
	color: white;
}

.chamada1{
	max-width: 600px;
	float: right;
	margin:140px 150px;
}

.chamada1 h2{
	font-weight: 300;
	font-size: 40px;
	color: white;
}

.chamada1 p{
	font-size: 15px;
	color: white;
	margin-top:10px;
}

section.sessao1{
	width: 100%;
	background-color: #472562;
	padding:0px 2%;
	height: 400px;
}

section.sessao1 .container{
	max-width: 1000px;
}

.texto-sessao1{
	float: left;
	width: 50%;
	position: relative;
	left: 65px;
	color: white;
	margin-top: 60px;
	padding-left: 80px;
}

.texto-sessao1 h2{
	font-weight: 300;
	font-size: 26px;
}

.texto-sessao1 p{
	margin-top:20px;
	font-size: 15px;
}

.texto-sessao1 ul{
	font-size: 15px;
	list-style-position: outside;
	padding-left: 15px;
}

.texto-sessao1 ul li{
	float: left;
	width: 100%;
	margin-top: 8px;
}

.btn1-texto{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top:30px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
	box-shadow: 1px 1px 2px 1px #111;
}

.device-sessao1{
	float: left;
	width: 50%;
	position: relative;
	top: -30px;
	height: 430px;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.sessao2{
	padding-left:2%;
	padding-right: 2%;
	background-color: white;
	text-align: center;
}

.sessao2 .container{
	max-width: 1000px;
}

.sessao2 h2{
	color: #472663;
	font-weight: 300;
}

.sessao2 p{
	margin-top: 30px;
	max-width: 900px;
	display: inline-block;
}

.sessao2 img{
	position: relative;
	top: 70px;
	width: 100%;
	margin-top:10px ;
	-webkit-box-shadow: 0px 7px 51px 2px rgb(90, 92, 112);
	-moz-box-shadow: 0px 7px 51px 2px rgba(90, 92, 112, 1);
	box-shadow: 0px 7px 51px 2px rgb(90, 92, 112);
}

.sessao3{
	width: 100%;
}

.part1{
	color: white;
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background-color: #835fa7;
}

.part1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.part1 p{
	font-size: 15px;
	line-height: 35px;
	margin-top: 10px;
}

.wraper-part1{
	max-width: 600px;
	float: right;
	padding-right: 0 30px;
}

.part2{
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background: #eeeeee;
}

.sobre-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}

.titulo-autor{
	float: left;
	width: 100%;
}

.titulo-autor h2{
	padding-right: 20px;
	color: #232323;
	font-weight: 400;
	font-size: 25px;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor .img-autor {
	float: left;
	width: 60px;
	height: 60px;
	border: 3px solid #835fa7;
	position: relative;
	background-image: url(../imagens/matheus.jpg);
	background-size: cover;
	top: -4px;
	border-radius: 30px;
}

.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}

.wraper-titulo-autor p{
	font-weight: 300;
	font-size: 14px;
	color: #232323;
	font-style: italic;
}

.slider-bullets{
	float: left;
	margin-top: 12px;
	width: 100%;
	padding-left: 30px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	border-radius: 8px;
	margin-right: 8px;
	background-color: rgb(200,200,200);
}

.sessao4{
	background-color: #472663;
	padding: 100px 0;
}

.form{
	float: left;
	width: 50%;
	padding-left: 10px;
}

.form h2{
	color: white;
	font-size: 23px;
	font-weight: 300;
}

.form p{
	font-size: 15px;
	font-weight: 300;
	max-width: 400px;
	color: white;
	padding-right: 10px;
}

.form form{
	margin-top: 15px;
}

.form form textarea{
	width: 90%;
	max-width: 480px;
	margin-top: 8px;
	padding: 15px;
	border: 1px solid rgb(200,200,200);
	height: 160px;
}

.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	margin-top: 8px;
	height: 58px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid rgb(200,200,200);
}

.form form input[type=submit]{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top:30px;
	border-radius: 30px;
	border: 0;
	box-shadow: 1px 1px 2px 1px #111;
}

.map-wraper{
	float: left;
	width: 50%;
	padding: 0 10px;
}

.map-wraper2{
	padding-top: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.map-wraper3{
	width: 100%;
	max-width: 480px;
	position: relative;
	margin-top: 10px;
}

.map {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}

.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
	color: white;
}

footer{
	padding: 40px 2%;
	background: #192123;
	color: white;
	font-size: 14px;
}

footer p:nth-of-type(1){
	float: left;
}
footer p:nth-of-type(2){
	float: right;
}

@media screen and (max-width: 830px){
	.chamada1{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin:170px 0;
	}

	.chamada1 h2{
		font-weight: 300;
		font-size: 30px;
		padding: 0 px;
		color: white;
	}
	
	.chamada1 p{
		font-size: 15px;
		color: white;
		margin-top:10px;
	}
}

@media screen and (max-width: 768px){

	header{
		width: 100%;
		height: auto;
		min-height: 90vh;
		padding:40px 2%;
	}

	nav.desktop-menu{
		display: none;
	}

	nav.mobile-menu{
		display: block;
	}
	
	section.sessao1{
		padding:40px 2%;
		height: auto;
		text-align: center;
	}

	.texto-sessao1{
		float: none;
		margin-top: 0;
		padding-left: 0;
		position: static;
		width: 100%;
		display: inline-block;
	}

	.device-sessao1{
		display: none;
	}

	.texto-sessao1 ul{
		display: inline-block;
		margin-top: 20px;
	}

	.texto-sessao1 ul li{
		float: none;
		text-align: left;
	}

	.btn1-texto{
		display: inline-block;
	}

	.sessao2{
		padding-top: 40px 2%;
	}

	.form{
		width: 100%;
		float: none;
	}


	.map-wraper{
		float: none;
		width: 100%;
		margin-top: 40px;
		padding: 0 4%;
	}

	.form p{
		display: inline-block;
		float: none;
	}

	.sessao4 .container{
		text-align: center;
	}

	.map-wraper2{
		padding-top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.map-wraper3{
		display: inline-block;
		width: 80%;
		padding-top: 80%;
		max-width: none;
		position: relative;
		margin-top: 10px;
	}
}

@media screen and (max-width: 580px){
	.part1,.part2{
		width: 100%;
		padding: 40px 0;
	}

	.sessao2 img{
		top: 16px;
		margin-top: 20px;	
	}

	footer{
		padding: 40px 2%;
		background: #192123;
		color: white;
		font-size: 14px;
		text-align: center;
	}
	
	footer p:nth-of-type(1){
		float: none;
	}
	footer p:nth-of-type(2){
		float: none;
		margin-top: 8px;
	}
}