*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Montserrat', sans-serif;
}

.clear{
	clear: both;
}

.container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

html,body{
	height: 100%;
}

/**Header do site**/

header{
	padding:20px 2%;
}

header .logo img{
	float: left;
	width: 236px;
}

nav.menu-mobile{
	float: right;
	width: 28px;
	height: 28px;
	margin-top:7px;
	cursor: pointer;
	background-image: url('../imagens/menu-mobile.png');
	background-size:100% 100%;
	display: none;
}

nav.menu-mobile ul{
	display: none;
	z-index: 999;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 60px;
	background-color: white;
}

nav.menu-mobile ul li{
	text-transform: uppercase;
}

nav.menu-mobile ul li{
	padding:10px 0;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	padding:8px 0;
	list-style-type: none;
}

header nav.menu-desktop ul li{
	float: left;
	font-size: 14px;
	padding:0 20px;
	text-transform: uppercase;
}

header ul a{
	color: #b4b4b4;
	text-decoration: none;
}

/*****/

/**MOSAICO**/

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}

.img-mosaico-single{
	width: 100%;
	padding-top:100%;
	background-color: #ccc;
	border:5px solid white;
	/*
	background-image:url('');
	*/
}

/****/

section.servicos > .container{
	max-width: 800px;
	display: flex;
	align-items: center; 
	position: relative;
	top:-30px;
	text-align: center;
}

section.servicos > .container .box-servico{
	background-image: url('../imagens/icone_dente.png');
	background-size: 18px 18px;
	background-position: center calc(100% - 10px);
	background-repeat: no-repeat;
}

section.servicos > .container .box-servico h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .container .box-servico p{
	color: white;
	margin-top:8px;
	font-weight: normal;
	font-size: 12px;
	
}

section.servicos > .container .box-servico:nth-of-type(1){
	width: 30%;
	padding:50px 2%;
	background-color: #576975;
}

section.servicos > .container .box-servico:nth-of-type(2){
	width: 40%;
	padding:80px 2%;
	background-color: #688293;
	background-image: none;
}

section.servicos > .container .box-servico:nth-of-type(3){
	width: 30%;
	padding:50px 2%;
	background-color: #576975;
}

section.perfil-container{
	padding:40px 0;
}

section.perfil-container .container{
	max-width: 800px;
}

section.perfil-container .perfil-wraper{
	padding-top:60%;
	position: relative;
}

section.perfil-container .perfil-wraper2{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

section.perfil-container .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url('../imagens/img_perfil.png');
	background-size: 100% 100%;
}

section.perfil-container .texto-perfil{
	width: 60%;
	padding:0 30px;
}

section.perfil-container .texto-perfil h2{
	 color: #698293;
	 font-size: 18px;
}

section.perfil-container .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	margin-top:8px;
}

section.videos{
	padding:50px 0;
}

section.videos .box-video{
	float: left;
	width: 33.3%;
	position: relative;
	border:5px solid white;
	/*background-color: green;*/
	padding-top:calc(33.3% * 0.6);
}

section.videos iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

section.tratamentos{
	padding:70px 0;
}

section.tratamentos .tratamento-container{
	float: left;
	width: 33.3%;
}

section.tratamentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.tratamentos > .container{
	padding:80px 0;
}

.tratamento-single{
	padding:20px;
}

.tratamento-single h2{
	font-size: 18px;
	color: #737373;
}

.tratamento-single p{
	padding:10px 0;
	font-size: 13px;
	color: #b4b4b4;
}

section.depoimentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.depoimentos > .container{
	padding:40px 0;
	max-width: 400px;
}

section.depoimentos .depoimento-single{
	text-align: center;
	width: 100%;
	padding:0 2%;
}

.depoimento-single quote{
	font-size: 15px;
	color: #b4b4b4;
}

.depoimento-single .nome-depoimento{
	padding:19px 0;
}

.nome-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.nome-depoimento span{
	position: relative;
	top:4px;
	font-size: 13px;
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
}

.instagram-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding:40px 0;
	background: #98a5ae;
}

.instagram-chamada p{
	line-height: 23px;
	color: white;
	padding:10px 0;
	font-size: 13px;
}

.mosaico-social{
	float: left;
	width: 100%;
}

.img-mosaico-single-social{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: rgb(210,210,210);
	border:6px solid white;
}

.facebook-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding:40px 0;
	background:  #576975;
}

.facebook-chamada p{
	line-height: 23px;
	color: white;
	padding:10px 0;
	font-size: 13px;
}

section.contato{
	padding:60px 2%;
}

section.contato > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.contato form{
	width: 100%;
	margin: 30px auto;
	max-width: 500px;
}

.form-wraper{
	float: left;
	padding:0 10px;
	margin-top: 10px;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.form-wraper span{
	font-size: 15px;
	color: #b4b4b4;
}

.form-wraper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border:1px solid #dadada;
	margin-top:8px;
}

.form-wraper textarea{
	width: 100%;
	margin-top:8px;
	padding:8px;
	height: 121px;
	resize: none;
	border: 1px solid #dadada;
	/*
	resize: horizontal;
	resize: vertical;
	*/
}

.form-wraper input[type=submit]{
	width: 100px;
	display: inline-block;
	height: 35px;
	border: 0;
	background: #688293;
	color: white;
	cursor: pointer;
	/*
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	*/
}

footer{
	padding:40px 2%;
	background-color: #688293;
}

footer .container{
	max-width: 1100px;
}

footer .footer-block{
	float: left;
	width: 33.3%;
}

.footer-block h2{
	color: white;
	font-weight: normal;
	font-size: 18px;
}

.footer-block p{
	margin-top:8px;
	color: white;
	font-size: 14px;
}

@media screen and (max-width: 1024px){
	.img-mosaico-single-social{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);
	}

	.mosaico-social > div:nth-of-type(1n+7){
		display: none;
	}
}


@media screen and (max-width: 768px){

	footer{
		text-align: center;
	}

	footer .footer-block{
	float: none;
	width: 100%;
	margin:30px 0;
	}

	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
		display: block;
	}

	section.servicos > .container{
		/*
		max-width: 800px;
		display: flex;
		align-items: center; 
		position: relative;
		top:-30px;
		text-align: center;
		*/
		flex-direction: column;
	}


		section.servicos > .container .box-servico:nth-of-type(1){
			width: 90%;
			max-width: 350px;
			padding:40px 2%;
		}

		section.servicos > .container .box-servico:nth-of-type(2){
			width: 94%;
			max-width: 380px;
			padding:50px 2%;
		}

		section.servicos > .container .box-servico:nth-of-type(3){
			width: 90%;
			max-width: 350px;
			padding:40px 2%;
		}

	

		section.perfil-container .perfil-wraper{
			padding-top: 0;
		}

		section.perfil-container .perfil-wraper2{
			/*
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height:100%;
			*/
			height: auto;
			position: static;
			text-align: center;
			display: inline-block;
			/*flex-direction: column;*/
		}

		section.perfil-container .img-perfil{
		width: 50%;
		padding-top:70%;
		display: inline-block;
		height: auto;
		/*
		background-image: url('../imagens/img_perfil.png');
		background-size: 100% 100%;
		*/
		}

		section.perfil-container .texto-perfil{
			display: inline-block;
			text-align: justify;
			width: 100%;
			padding:0 30px;
		}

		section.videos{
			text-align: center;
		}

		section.videos .box-video{
			float: none;
			width: 70%;
			display: inline-block;
			/*border:5px solid white;*/
			/*background-color: green;*/
			padding-top:calc(70% * 0.6);
		}

		.img-mosaico-single-social{
			width: calc(100% / 3);
			padding-top: calc(100% / 3);
		}

		.mosaico-social > div:nth-of-type(1n+4){
			display: none;
		}

}


@media screen and (max-width: 580px){
	section.perfil-container .img-perfil{
		width: 80%;
		padding-top:110%;
	}

	section.videos .box-video{
		width: 100%;
		/*border:5px solid white;*/
		/*background-color: green;*/
		padding-top:calc(100% * 0.6);
	}

	.w50{
		width: 100%;
	}
}


@media screen and (max-width: 480px){
	header .logo img{
		width: 200px;
	}
}